<a href="https://colab.research.google.com/github/StefanTomic-NTNU/machine-learning-for-ai/blob/main/w3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning For AI

In [2]:
import pandas as pd

In [10]:
group4 = pd.DataFrame(
    {'Name': ['hyojin','kyunghoon', 'Fran', 'Stefan'],
     'Hobby': ['listening music','going home', 'making music', 'sailing'],
     'Nationality':['Korea','Korea', 'Spain', 'Norway'],
     'Major':['Statistics','Math', 'Software', 'Computer Science'],
     'Age': [24,25,20,23]})

In [4]:
group4

        Name            Hobby Nationality             Major
0     hyojin  listening music       Korea        Statistics
1  kyunghoon       going home       Korea              Math
2       Fran     making music       Spain          Software
3     Stefan          sailing      Norway  Computer Science

In [5]:
group4.to_csv('group4.csv', index=False)

In [7]:
group4_replica = pd.read_csv('group4.csv')

In [8]:
group4_replica

        Name            Hobby Nationality             Major
0     hyojin  listening music       Korea        Statistics
1  kyunghoon       going home       Korea              Math
2       Fran     making music       Spain          Software
3     Stefan          sailing      Norway  Computer Science

In [11]:
group4['Age'].mean()

23.0

In [13]:
group4['Age'].max()

25

In [14]:
group4['Age'].var()

4.666666666666667

In [15]:
group4['Age'].sum()

92